{% extends 'base.html' %}
{% block contents %}
            <div class="topnav">
                <a class="active" href="{% url 'index' %}">For PT</a>
                <a href="{% url 'file_list' %}">파일관리</a>
                <!--회원정보-->
                <a class="info" href="{% url 'logout' %}">로그아웃</a>
                <a class="info" id="user_info">{{ user_info }}</a>
                <a class="info" id="user_info">{{ user_id }}</a>
            </div>
          <h1>For PT</h1>
          <div id="grid">
              <div  id="admin_room">
                  <span id="heading">관리중</span><a href="{% url 'make_room' %}" class="button">방만들기</a><br>
                  {% for room in rooms %}
                  <p> <strong>방이름</strong> : {{ room.room_name }}<a href="{% url 'invite' pk=room.id %}" class="button">초대하기</a><br>
                  <strong>교수</strong>   : {{ room.professor }}<a href="{% url 'room_delete' pk=room.id %}" class="button">삭제하기</a><br>
                  <strong>참여자</strong> : {{ room.student }}</p>
                  {% endfor %}
                </div>
                <div id="article">
                    <span id="heading">참여중</span>
                    <a href="{% url 'room_list' %}" class="button">들어가기</a>
                    {% if joined_rooms %}
                        {% for joined_room in joined_rooms %}
                        <p> <strong>방이름</strong> : {{ joined_room.room_name }}<a href="{% url 'room_exit' pk=joined_room.id %}" class="button">나가기</a><br>
                        <strong>교수</strong>   : {{ joined_room.professor }}<a href="{% url 'room_choice' pk=joined_room.id %}" class="button">선택</a><br>
                        <strong>참여자</strong> : {{ joined_room.student }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
{% endblock %}